h1 {
  padding: 0.5em;/*文字周りの余白*/
  color: #010101;/*文字色*/
  background: #eaf3ff;/*背景色*/
  border-bottom: solid 3px #516ab6;/*下線*/
}

.loginSection{
    padding: 20px;              /* 余白指定 */
    text-align:  center;        /* 中央寄せ */
    background-color:  #ddd;    /* 背景色指定 */
    height: 100px;              /* 高さ指定 */
}