      body {
        background-color: #7576e0;
        color: #e5e5e5;
        font-family: "Segoe UI", sans-serif;
        text-align: center;
      }

      input[name="userid"],
        input[name="password"] {
        width: 300px;     /* ← 両方の幅を揃える */
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    input[type="text"] {
            width: 300px;
            padding: 8px;
            border-radius: 5px;
            border: none;
            margin-top: 10px;
        }
      h1 {
        margin-top: 30px;
        color: #ffffff;
      }

      .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
        gap: 20px;
      }

      .challenge {
        background-color: #2d3035;
        width: 250px;
        padding: 25px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.2s;
      }

      .challenge:hover {
        background-color: #3a3e45;
        transform: scale(1.05);
      }

      .points {
        font-size: 18px;
        margin-top: 10px;
        color: #bbb;
      }

      /* モーダル */
      .modal {
        display: none;
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
      }

      .modal-content {
        background-color: #2b2d31;
        margin: 10% auto;
        padding: 30px;
        border-radius: 10px;
        width: 400px;
        color: #fff;
        text-align: left;
      }

      .close {
        float: right;
        font-size: 24px;
        cursor: pointer;
      }

      .hint {
        background-color: #3a3e45;
        padding: 8px;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
      }

      .hint-content {
        display: none;
        margin-top: 8px;
        color: #ccc;
      }

      

      button {
        margin-top: 10px;
        padding: 8px 16px;
        background-color: #0078ff;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
      }

      button:hover {
        background-color: #005ecb;
      }